@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800");
@tailwind base;
@tailwind components;
@tailwind utilities;

@media print, screen and (min-width: 210mm) {

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
h1,
.h1 {
  font-size: 40px;
  line-height: 42px;
  font-weight: 700;
  word-wrap: break-word;
  font-family: "Poppins";
  letter-spacing: 0.02em;
}
h2,
.h2 {
  @apply text-lg font-bold;
}
p {
  @apply text-gray-600 text-sm;
}

ul {
  @apply list-disc ml-6 mt-2;
}
li{
  @apply text-sm;
}
.mini-card {
  @apply border cursor-pointer rounded bg-gray-200 flex flex-wrap items-center justify-center w-fit p-1 px-2 gap-2;
}

@layer utilities {
  .input {
    @apply bg-gray-50 border-2 border-gray-300 text-gray-900 sm:text-sm rounded-lg  block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white;
  }
}

}