@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0081cf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
h1,
.h1 {
  font-size: 40px;
  line-height: 42px;
  font-weight: 700;
  word-wrap: break-word;
  font-family: "Poppins";
  letter-spacing: 0.02em;
}
h2,
.h2 {
  @apply text-lg font-bold text-primary;
}
p {
  @apply text-gray-600 text-sm;
}

ul {
  @apply list-disc ml-6 mt-2;
}
li {
  @apply text-sm;
}
.mini-card {
  @apply border cursor-pointer rounded bg-gray-200 flex flex-wrap items-center justify-center w-fit p-1 px-2 gap-2;
}
.btn {
  @apply border-2 rounded cursor-pointer border-primary hover:bg-primary hover:text-white transition-all duration-300 px-3 py-1;
}

.btn.lg {
  @apply p-2 text-xl font-semibold text-gray-700 hover:text-white;
}
.gray{
  @apply border-gray-900 hover:bg-gray-900
}

.form-input {
  @apply bg-gray-50 px-4 py-2 outline-none border-2 rounded focus:border-primary;
}
.form-input.error {
  @apply border-red-500;
}
